@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Black+Ops+One&family=Changa&family=Philosopher&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Space+Mono&display=swap');
body{
    background-image: url(back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.head{
    text-align: center;
    font-family: 'Black Ops One', cursive;
    color: rgb(138, 54, 163);
    font-size: 80px;
    padding: 10%;
    text-shadow: 2px 2px black; 

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
footer{
  text-align: center;
}
ul.portion {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Space Mono', monospace;
}

li.nav {
  float: left;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.nav a:hover {
  background-color: #111;
}
h1{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 60px;
  border: solid black;
}
.name{
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    font-size: 30px;
}
.objective{
    text-align: center;
    font-family: 'Changa', sans-serif;
    font-size: 30px;
    background-color: rgba(30, 0, 100, 0.308);
}
.educ{
  text-align: center;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul.type{
    display: inline-block;
    text-align: left;
}
ul.work{
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  background-color: rgba(30, 0, 100, 0.308);
}
ul.awards{
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  background-color: rgba(30, 0, 100, 0.308);
}
ul.hobbies{
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  background-color: rgba(30, 0, 100, 0.308);
}
ul.contact{
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  background-color: rgba(30, 0, 100, 0.308);
}
